@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Panton Rust';
    src: url(./assets/PantonRustHeavy-GrSh.otf);
}
@font-face {
    font-family: 'Magical';
    src: url(./assets/MagicalWorld.ttf);
}
@font-face {
    font-family: 'Herry';
    src: url(./assets/Harukaze.ttf);
}